<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item mr-4">
                            <h4 class="page-title">Choisir un inventaire</h4>
                        </li>
                        <li class="breadcrumb-item mr-4"> <select [(ngModel)]="idCurrentInv" class="select-trie"
                                style="width: 215px !important;" (change)="inventaireChange($event.target.value)">
                                <option *ngFor="let inventaire of inventaires" [value]="inventaire.id"> Inventaire <span
                                        *ngIf="inventaire.dateInv"> au {{inventaire.dateInv|date:'dd/MM/yyyy'}}</span>
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader pl-0 pb-0">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Rechercher une immobilisation" type="text" class="browser-default search-field" aria-label="Search box" (keyup)="filterDatatable($event.target.value)">
                                        </li>
                                        <li class="dropdown m-l-20 ml-5">
                                            <select class="form-control select-trie pl-0 pr-0" style="width: 200px;background-color: #ebebee;" (change)="filtreImmoChange()" [(ngModel)]="typeImmo">
                                                <option value="" *ngIf="typeImmo==''" selected hidden>Etat de l'immobilisation</option>
                                                <option value="" *ngIf="typeImmo!=''">Tous</option>

                                                <option value="1">Bon état</option>
                                                <option value="0">Mauvais état</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10" *ngIf="statusImmo>=2">
                                    <!-- user image -->

                                    <ngx-datatable-column name="" sortable="false" prop="image" [width]="50">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img width="40" height="40" [src]="value" *ngIf="value" alt="image"/>
                                                <img width="40" height="40" [src]="defaultImg" *ngIf="!value" alt="image"/>
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Code" sortable="false" prop="code" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                <span *ngIf="value">{{longText(value,10)}}</span>
                                                <span *ngIf="!value">-</span>
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Libelle" sortable="false" prop="libelle" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Lecteur"  sortable="false" prop="lecteur" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value?.nom">
                                                {{longText(value?.nom,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Emplacement"  sortable="false" prop="localite"
                                        [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0"  [title]="locName(value?.id)">
                                               <a [routerLink]="['/zonage',getHashId(value?.id)]">{{longText(value?.nom,20)}}</a> 
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Etat du bien"  sortable="false" prop="endEtat" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="getEtat(value)">
                                                {{longText(getEtat(value),20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column  name="Date de lecture" sortable="false" prop="dateLecture"
                                        [width]="140">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value|date:'dd/MM/yyyy'">
                                                {{value|date:'dd/MM/yyyy'}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="130">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info"
                                                    data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#showImmo" (click)="showDetails(row)">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#showImmo" (click)="update(row)">
                                                    <i class="material-icons">mode_edit</i>
                                                </button>


                                                <button class="btn tblActnBtn pointer h-auto text-success ml-3" *ngIf="row.matchedImmo" title="Correspond à l'immobilisation {{row.matchedImmo.libelle}}">
                                                    <i class="material-icons">link</i>
                                                </button>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                            let-pageSize="pageSize" let-selectedCount="selectedCount"
                                            let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                            <div class="page-count">
                                                <span *ngIf="selectedMessage">
                                                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                                                </span>
                                                {{totalMessage}} {{rowCount.toLocaleString()}}
                                            </div>
                                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                                                [size]="pageSize" [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="table.onFooterPage($event)" (change)="look($event)">
                                            </datatable-pager>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" 
    data-backdrop="static" data-keyboard="false" data-target="#showImmo" #openImmo hidden>
    <i class="material-icons">mode_edit</i>
</button>

<!-- Modal Window -->
<div class="modal fade" id="showImmo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog immobilisation-modal" role="document">
        <form class="modal-content" [formGroup]="editForm" #formDirective="ngForm">
            <div class="modal-header">
                <div class="editRowModal ml-2">
                    <div class="modal-header clearfix" *ngIf="selectedRowData?.image||image">
                        <img *ngIf="selectedRowData?.image" width="45" height="45" [src]="selectedRowData?.image" alt="Logo" class="pointer" (click)="showPhoto=true">
                        <img *ngIf="!selectedRowData?.image" width="45" height="45" [src]="defaultImg" alt="avatar" class="pointer" (click)="showPhoto=true">
                        <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17" *ngIf="selectedRowData?.libelle">{{selectedRowData?.libelle}}</div>
                        </div>
                    </div>
                </div>
                <button type="button" #closeEditModal
                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                    aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body scroll-box" [perfectScrollbar]>
                <div class="row" *ngIf="!showPhoto">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Code : </mat-label>
                            <input matInput formControlName="code" class="color-black">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.description">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Description :
                                {{selectedRowData?.description}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.endEtat">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Etat réel du bien 
                                : {{getEtat(selectedRowData?.endEtat)}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.localite" [title]="locName(selectedRowData?.localite?.id)">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Emplacement réel
                                : {{selectedRowData?.localite.nom}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.lecteur">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Lecteur 
                                : {{selectedRowData?.lecteur?.nom}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.dateLecture">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Date de comptage 
                                : {{selectedRowData?.dateLecture|date:'dd/MM/yyyy'}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.localite?.createur?.nom && (securityServ.superviseurGene||securityServ.superviseurAdjoint)">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Superviseur adjoint
                                : {{selectedRowData?.localite?.createur?.nom}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.localite?.id ">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Chef d'équipe
                                : {{getChefEquipOf(selectedRowData?.localite?.id)}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.matchedImmo" [title]="selectedRowData?.matchedImmo?.libelle">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label class="color-black"> Immobilisation correspondante
                                : {{selectedRowData?.matchedImmo?.libelle}}</mat-label>
                            <input matInput formControlName="oneInput">
                        </mat-form-field>
                    </div>
                </div>
                <div class="div" *ngIf="showPhoto" style="position: relative;">
                    <button type="button" class="btn p-t-10 modal-close-button" (click)="showPhoto=false" style="position: absolute;right: 0px;">
                        <i class="material-icons">clear</i>
                    </button>
                    <img *ngIf="selectedRowData?.image" [src]="selectedRowData?.image" alt="Logo">
                    <img *ngIf="!selectedRowData?.image" [src]="defaultImg" alt="avatar">
                </div>
                <div class="modal-footer pr-0">
                    <button type="button" class="btn btn-outline-success btn-border-radius mr-0" *ngIf="!details" (click)="saveTreatment()">
                        Enregistrer
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-border-radius mr-0" data-dismiss="modal" aria-label="Close">
                        <span *ngIf="!details">Annuler</span>
                        <span *ngIf="details">Fermer</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Window -->

<button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" 
    data-backdrop="static" data-keyboard="false" data-target="#confirmMatch" #openConfirm hidden>
    <i class="material-icons">mode_edit</i>
</button>

<!-- Modal Window -->
<div class="modal fade" id="confirmMatch" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="editRowModal ml-2">
                    <div class="modal-header clearfix">
                        <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17">Confirmation</div>
                        </div>
                    </div>
                </div>
                <button type="button" #closeMatchModal
                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                    aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body scroll-box">
                <p>Ce code correspont à l'immobilisation {{matchLibelle}}, voulez-vous confirmer qu'il s'agit bien de cette immobilisation ?</p>
                <hr>
                <div class="modal-footer pr-0">
                    <button type="button" class="btn btn-outline-success btn-border-radius mr-0" (click)="save(true)">
                        Confirmer
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-border-radius mr-0" data-dismiss="modal" aria-label="Close" (click)="offMatchedImmo()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Window -->

