<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Inventaires</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">+ Ajouter</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <mat-accordion>
                            <!--Update-->
                            <mat-expansion-panel class="mb-4" [expanded]=" 0=== 0" hideToggle>
                                <mat-expansion-panel-header class="pr-0" style="background-color: #d8d5d5;" #panelHU (click)="panelHU._toggle()">
                                    <mat-panel-title  class="pl-0 col-11 pt-4 pb-4 mr-0" (click)="panelHU._toggle()">
                                        Inventaire
                                    </mat-panel-title>
                                    <mat-panel-description>
                            
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--Corps-->
                                <div class="mt-5">
                                    <p class="row">
                                        <span class="col-4 bolder pt-3">PÉRIODE </span>
                                        <span class="col-4">
                                            <mat-form-field class="example-full-width" style="width: 50%;">
                                                <mat-label>Début</mat-label>
                                                <input matInput [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-4">
                                            <mat-form-field class="example-full-width" style="width: 50%;">
                                                <mat-label>Fin</mat-label>
                                                <input matInput [matDatepicker]="picker2">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 pt-3 bolder">INSTRUCTIONS D'INVENTAIRE</span>
                                        <span class="col-8"> 
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon" class="mr-5">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                        </span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 pt-3 bolder">COMITE D'INVENTAIRE</span>
                                        <span class="col-8"> 
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 pt-3 bolder">RÉUNION D'INVENTAIRE</span>
                                        <span class="col-4">
                                            <mat-form-field class="example-full-width" style="width: 50%;">
                                                <mat-label>Lieu</mat-label>
                                                <input matInput>
                                                <mat-icon matSuffix>room</mat-icon>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-4">
                                            <mat-form-field class="example-full-width" style="width: 50%;">
                                                <mat-label>Date</mat-label>
                                                <input matInput [matDatepicker]="picker3">
                                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                <mat-datepicker #picker3></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                    </p>
                                    <div class="row mt-5">
                                        <span class="col-4 pt-4 bolder">PRÉSENTS A LA RÉUNION</span>
                                        <span class="col-8">
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </span>
                                    </div>
                                    <p class="row mt-5">
                                        <span class="col-4 pt-4 bolder">PV DE LA RÉUNION</span>
                                        <span class="col-8"> 
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon" class="mr-5">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <!--Corps-->
                                <mat-action-row>
                                    <button type="submit" class="btn btn-outline-success btn-border-radius mr-2">Enregistrer</button>
                                    <button type="button" class="btn btn-outline-danger btn-border-radius mr-0">Annuler</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <!--Update-->
                            <mat-expansion-panel class="mb-4" *ngFor="let inventaire of inventaires" hideToggle>
                                <mat-expansion-panel-header class="pr-0" style="background-color: #d8d5d5;" #panelHL (click)="panelHL._toggle()">
                                    <mat-panel-title  class="pl-0 col-11 pt-4 pb-4 mr-0" (click)="panelHL._toggle()">
                                        Inventaire
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <div class="pt-4 pb-4">
                                            <mat-icon data-toggle="modal" class="mr-2 icone-loc" data-target="#localiteModal" data-backdrop="static" data-keyboard="false">edit</mat-icon>
                                            <mat-icon class="icone-loc">delete</mat-icon>
                                        </div>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--Corps-->
                                <div class="mt-5">
                                    <p class="row mt-3">
                                        <span class="col-4 bolder">PÉRIODE </span>
                                        <span class="col-4">Du : {{inventaire.debut|date:'dd-MM-yyyy'}} </span>
                                        <span class="col-4">Au : {{inventaire.fin|date:'dd-MM-yyyy'}}</span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 bolder" [ngClass]="{'pt-4': inventaire.instruction}">INSTRUCTIONS D'INVENTAIRE</span>
                                        <span class="col-8" *ngIf="!inventaire.instruction">Aucune instruction n'a été ajoutée</span>
                                        <span class="col-8 text-success pointer" *ngIf="inventaire.instruction"><mat-icon title="INSTRUCTIONS D'INVENTAIRE"  style="font-size: 50px;">insert_drive_file</mat-icon></span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 pt-3 bolder">COMITE D'INVENTAIRE</span>
                                        <span class="col-8"> 
                                            <span  *ngIf="!inventaire.presiComite && inventaire.membresCom.length==0">Membres du comité non définis</span>
                                            <img *ngIf="inventaire.presiComite" class="img-circle user-img-circle img-membre pointer ml-2" [src]="imgLink+inventaire.presiComite.image" [title]="'Président du comité : '+ inventaire.presiComite.nom">
                                            <img *ngFor="let membre of inventaire.membresCom" class="img-circle user-img-circle img-membre pointer ml-2" [src]="imgLink+membre.image" [title]="'Membre du comité : '+ membre.nom">
                                        </span>
                                    </p>
                                    <p class="row mt-5">
                                        <span class="col-4 bolder">RÉUNION D'INVENTAIRE</span>
                                        <span class="col-4">Lieu : {{inventaire.lieuReunion}}</span>
                                        <span class="col-4">Date : {{inventaire.dateReunion|date:'dd-MM-yyyy à HH:mm'}}</span>
                                    </p>
                                    <div class="row mt-5">
                                        <span class="col-4 pt-3 bolder">PRÉSENTS A LA RÉUNION</span>
                                        <span class="col-8">
                                            <span  *ngIf="inventaire.presentsReunion.length==0">Membres présents à la réunion d'inventaire non définis</span>
                                            <img *ngFor="let membre of inventaire.presentsReunion" class="img-circle user-img-circle img-membre pointer ml-2" [src]="imgLink+'exemple.jpg'" [title]="membre">
                                        </span>
                                    </div>
                                    <p class="row mt-5">
                                        <span class="col-4 bolder"  [ngClass]="{'pt-4': inventaire.pvReunion}">PV DE LA RÉUNION</span>
                                        <span class="col-8" *ngIf="!inventaire.pvReunion">Aucun pv n'a été ajoutée</span>
                                        <span class="col-8 text-success pointer" *ngIf="inventaire.pvReunion"><mat-icon title="PV DE LA RÉUNION" style="font-size: 50px;">insert_drive_file</mat-icon></span>
                                    </p>
                                </div>
                                <!--Corps-->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 