<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader pl-0 pb-0">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Rechercher une immobilisation" type="text" class="browser-default search-field" aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab color="primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal">
                                                    <mat-icon class="col-white">add</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                
                                <!-- <input type="file" id="image" accept="image/*" (change)="handleFileInputPP($event.target.files)" hidden #pp> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>