<h1 mat-dialog-title>Ajouter Fonction du Signataire {{data.name}}</h1>
<div mat-dialog-content>
    <p>Ajouter Fonction du Signataire {{data.name}} </p>
    <form >
        <mat-form-field>
            <mat-label>Ajouter Fonction du Signataire {{data.name}}</mat-label>
            <input matInput [(ngModel)]="fonctionIns" class="form-control" name="fonc">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="fonctionIns" class="btn btn-outline-success btn-border-radius"
        cdkFocusInitial>Ok</button>
</div>