@import "src/assets/scss/variables";

.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header,
footer {
    height: 50px;
    background-color: #ca682d;
}

main {
    flex: 1;
    overflow-x: hidden;
    width: 100vw;
    // padding-left: 50px;
    // padding-right: 50px;
    background-color: #ffffff;
}

::ng-deep.container-form-login {
    height:100%;
    width:100%;
    margin:0;
    background-color: #ffffff;
    background-image: url("/assets/images/bg-login-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    .card-form-login {
        width: 400px;
        margin: auto;
        margin-right: 10%;
        text-align: center;
        .logo {
            width: 200px;
            position: relative;
            bottom: 80px;
        }
        .form-login {
            background: #e3deda;
            border-radius: 10px;
            padding: 20px 50px;
            opacity: 0.80;
            h2 {
                color: $primary-color;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
            }
            .login-info {
                font-size: 14px;
                text-align: center;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .input-field {
                margin-bottom: 30px;
                input {
                    width: 100%;
                }
            }
            .input-btn {
                margin-top: 5rem;
                .btn-login {
                    width: 60%;
                }
            }
            .input-field input,
            .btn-login {
                border-radius: 10px;
                height: 46px;
                font-size: 16px !important;
            }
            .btn-login.p-button {
                background: #ab5624 !important;
                border: 1px solid #ab5624 !important;
                color: #ffffff;
            }
        }
        .footer-desc {
            font-size: 10px;
            font-weight: 400;
            text-align: center;
        }
    }
}