<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item mr-4">
                            <h4 class="page-title">Ouvrir un ticket</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h5 class="card-title">Ouvrir un ticket <hr></h5>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <form (ngSubmit)="saveTicket()" [formGroup]="ticketForm">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Type de tickets *</mat-label>
                                                <mat-select id="type" formControlName="type">
                                                    <mat-option *ngFor="let ticketType of ticketTypes" value="{{ticketType}}">{{ticketType}}</mat-option>
                                                </mat-select>                                              
                                                <mat-error *ngIf="f['type'].errors">Le type de ticket est requise</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Objet *</mat-label>
                                                <input matInput id="objet" formControlName="objet">
                                                <mat-error *ngIf="f['objet'].errors">L'objet du ticket est requise</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Description *</mat-label>
                                                <textarea matInput id="description" formControlName="description" rows="8"></textarea>
                                                <mat-hint align="start">Faire une description sommaire du problème rencontré.</mat-hint>
                                                <mat-error *ngIf="f['description'].errors">Une description du ticket est requise</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <span mat-button color="info" (click)="onClick()">  
                                                <mat-icon>file_upload</mat-icon>  
                                                Attacher une capture
                                            </span> 
                                            <input type="file" #fileUpload id="fileUpload" (change)="changeListener()" multiple="multiple" style="display:none;" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-outline-success btn-border-radius mr-3" [disabled]="ticketForm.invalid">Enregistrer</button>
                                            <button type="button" class="btn btn-outline-danger btn-border-radius" [routerLink]="['/supports/lists']">Annuler</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>