git<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                <div class="card">
                    <div class="header" style="border-bottom: 1px solid #00000021;">
                        <div class="row">
                            <h2 class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pb-0 pt-2 bolder" *ngIf="subdivisions && subdivisions[0]">{{subdivisions[0]}}</h2>
                            <h2 class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pb-0 pt-2 bolder" *ngIf="!subdivisions || subdivisions.length==0">Localités</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <button #openF class="addInv" data-toggle="modal" data-target="#localiteModal" data-backdrop="static" data-keyboard="false" *ngIf="subdivisions && subdivisions.length>0 && !securityServ.superviseurGene"
                                    (click)="initForm()" (click)="update=false" mat-mini-fab title="Ajouter" color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button class="addInv" *ngIf="!subdivisions || subdivisions.length==0" mat-mini-fab disabled [title]="titleAdd" color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                        
                                    <button class="addInv" data-toggle="modal" data-target="#Subdivision" data-backdrop="static" data-keyboard="false" [ngClass]="{'btn-add-sub': !securityServ.superviseurGene}"
                                        #subd mat-mini-fab title="Ajouter une subdivision" color="primary" aria-label="Example icon-button with a heart icon" (click)="initSub()" *ngIf="securityServ.superviseur || securityServ.superviseurGene">
                                        <mat-icon>reorder</mat-icon>
                                    </button>
                                    <button mat-mini-fab  class="addLocaliteExcel" style="color: brown;" *ngIf="securityServ.superviseur || securityServ.superviseurAdjoint" > 
                                        <mat-icon style="color: white;" (click)="openFileUload.click()">
                                            cloud_upload
                                        </mat-icon>
                                        <input type="file" hidden #openFileUload (change)="getAllLocalite($event)">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body">
                        <div class="map-localite mb-2" [ngStyle]="{background: 'url(./assets/images/image-gallery/'+currentImage+') no-repeat center center'}">
                            <div class="pointer-localite pointer" *ngFor="let localite of rev(firstSub(localites))" [ngStyle]="{'left': localite.position[0],'top':localite.position[1],'width':'10%'}">
                                <span (click)="idCurrentLocal=localite.id" class="pl-1">{{longText(localite.nom,11)}}</span>
                                <img src="assets/images/image-gallery/pointer.png" [title]="localite.nom" style="width:50%;" *ngIf="idCurrentLocal!=localite.id && !localite.rattacher"  (click)="openFirst(localite.id)">
                                <img src="assets/images/image-gallery/pointer4.png" [title]="localite.nom" style="width:40%;" *ngIf="idCurrentLocal!=localite.id && localite.rattacher"  (click)="openFirst(localite.id)">
                                <img src="assets/images/image-gallery/pointer2.png" [title]="localite.nom" style="width:50%;" *ngIf="idCurrentLocal==localite.id">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-5 pb-3" *ngFor="let idParent of tabOpen;let i=index" [hidden]="!idCurrentLocal || !getOnById(idParent)!">
                    <div class="header" style="border-bottom: 1px solid #00000021;">
                        <div class="row">
                            <h2 class="col-xl-5 col-lg-5 col-md-5 col-sm-5 pb-0 pt-2 bolder" *ngIf="getOnById(idParent)">{{getOnById(idParent)?.nom}}</h2>
                            
                            <ul class="header-dropdown m-r--5">
                                <h2 class="pb-0 pt-1 pr-3" *ngIf="getOnById(idParent) && i==0 && securityServ.superviseurGene"> 
                                    <span class="bolder">Créé par : </span> {{getOnById(idParent)?.createur?.nom}}
                                </h2>
                                <li class="dropdown" *ngIf="!securityServ.superviseurGene" style="left: -50px;">
                                    <button (click)="deleteLoc(getOnById(idParent))" class="addInv" mat-mini-fab  title="Supprimer" color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </li>
                                <li class="dropdown" *ngIf="!securityServ.superviseurGene">
                                    <button (click)="updateL(getOnById(idParent))" (click)="openLocM.click()" class="addInv" mat-mini-fab  title="Modifier" color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body">
                        <mat-form-field class="example-chip-list example-full-width zonage" *ngIf="subdivisions && subdivisions[i+1]">
                            <mat-chip-list #chipList aria-label="Sous-zones">
                                <mat-chip *ngFor="let sub of getCurrentSubById(idParent)" [selectable]="selectable" [removable]="false"
                                    class="w-25 row pt-1 color-chips" style="min-width: 275px;">
                                    <span class="p-0 pl-1" [ngClass]="{'col-8': !securityServ.superviseurGene,'col-11': securityServ.superviseurGene}" [title]="sub.nom">{{longText(sub.nom,20)}}</span>
                                    <span class="p-0" [ngClass]="{'col-4': !securityServ.superviseurGene,'col-1': securityServ.superviseurGene}">
                                        <mat-icon class="edit-sousZ pointer text-secondary" title="Afficher" (click)="openOther(i+1,sub.id)">playlist_add</mat-icon>
                                        
                                        <mat-icon *ngIf="!securityServ.superviseurGene" class="ml-2 edit-sousZ pointer text-secondary" title="Modifier" (click)="updateL(sub)"  (click)="openLocM.click()">edit</mat-icon>
                                        
                                        <mat-icon *ngIf="!securityServ.superviseurGene" matChipRemove class="ml-0" title="Supprimer" (click)="deleteLoc(sub)">delete</mat-icon>
                                    </span>
                                </mat-chip>
                                <input [placeholder]="subdivisions[i+1]" #fruitInput 
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event,idParent)" disabled *ngIf="securityServ.superviseurGene">
                                <input [placeholder]="subdivisions[i+1]" #fruitInput [formControl]="fruitCtrl" *ngIf="!securityServ.superviseurGene"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event,idParent)">
                            </mat-chip-list>
                        </mat-form-field>
                        <p *ngIf="!subdivisions[i+1]">Veuillez ajouter une nouvelle subdivision</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pour editer -->
<em data-toggle="modal" hidden data-target="#localiteModal" data-backdrop="static" data-keyboard="false" #openLocM></em>

<!--Form-->
<div class="modal fade" id="localiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <form class="modal-content"  [formGroup]="localiteForm" (ngSubmit)="onSubmit(localiteForm)" #formDirective1="ngForm">
            <div class="modal-header">
                <div class="editRowModal">
                    <div class="modal-header clearfix">
                        <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17" *ngIf="subdivisions && subdivisions[0] && !update">{{subdivisions[0]}}</div>
                            <div class="font-weight-bold p-t-10 font-17" *ngIf="update"> Modification</div>
                        </div>
                    </div>
                </div>
                <button type="button" #closeLocaliteModal
                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                    aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="input-field col s12 d-none">
                            <input formControlName="id" class="form-control" type="hidden">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pb-0">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="nom" >
                                <mat-icon matSuffix>room</mat-icon>
                                <mat-error *ngIf="localiteForm.get('nom').hasError('required')">
                                    Ce champ est requise
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="modal-footer pr-0 pt-0">
                        <div class="button-demo">
                            <button type="submit" class="btn btn-outline-success btn-border-radius" [disabled]="localiteForm.invalid">Enregistrer</button>
                            <button type="button" class="btn btn-outline-danger btn-border-radius mr-0" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Form-->

<!--Subdivision-->
<div class="modal fade" id="Subdivision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <div class="editRowModal">
                    <div class="modal-header clearfix">
                        <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17">Subdivision</div>
                        </div>
                    </div>
                </div>
                <button type="button" #closeSubdivision
                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                    aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pb-0 pr-0" *ngFor="let control of tabSubdivision.controls; index as i">
                            <mat-form-field class="example-full-width mr-2" appearance="outline" style="width: 92% !important;">
                                <mat-label *ngIf="i==0">Nom de la subdivision</mat-label>
                                <mat-label *ngIf="i>0">Un(e) {{lowerCase(tabSubdivision.value[i-1])}} peut contenir un(e) :</mat-label>
                                <input matInput [formControl]="control">
                                <mat-icon matSuffix>room</mat-icon>
                            </mat-form-field>
                             <mat-icon matSuffix [hidden]="i!=(tabSubdivision.controls.length-1) || !control.value" (click)="addSubdivision()" class="pointer" title="Ajouter un membre">add_circle_outline</mat-icon>
                        </div>
                    </div>

                    <div class="modal-footer pr-4 pt-0">
                        <div class="button-demo">
                            <button type="submit" class="btn btn-outline-success btn-border-radius" (click)="oneSaveSubdiv()">Enregistrer</button>
                            <button type="button" class="btn btn-outline-danger btn-border-radius mr-0" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Subdivision-->