<div *ngIf="securityService.loading||showLoadingIndicatior" class="page-loader-wrapper" style="opacity: 0.5 !important;">
    <app-page-loader></app-page-loader>
</div>
<app-header *ngIf="!_router.url.includes('/login')"></app-header>
<app-sidebar *ngIf="!_router.url.includes('/login')"></app-sidebar>
<app-right-sidebar></app-right-sidebar>
<section class="content" *ngIf="!_router.url.includes('/login')">
    <div class="container-fluid" style="position: relative;top: 30px;z-index: 1;">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item mr-4">
                            <h4 class="page-title">Choisir un inventaire</h4>
                        </li>
                        <li class="breadcrumb-item mr-4">
                            <select [(ngModel)]="idCurrentInv" class="select-trie"
                                style="width: 215px !important;" (change)="inventaireChange($event.target.value)">
                                <option *ngFor="let inventaire of inventaires" [value]="inventaire.id"> Inventaire <span
                                        *ngIf="inventaire.dateInv"> au {{inventaire.dateInv|date:'dd/MM/yyyy'}}</span>
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>