<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item mr-4">
                            <h4 class="page-title">Choisir un inventaire</h4>
                        </li>
                        <li class="breadcrumb-item mr-4"> <select [(ngModel)]="idCurrentInv" class="select-trie"
                                style="width: 215px !important;" (change)="inventaireChange($event.target.value)">
                                <option *ngFor="let inventaire of inventaires" [value]="inventaire.id"> Inventaire <span
                                        *ngIf="inventaire.dateInv"> au {{inventaire.dateInv|date:'dd/MM/yyyy'}}</span>
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader pl-0 pb-0">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Rechercher une immobilisation" type="text" class="browser-default search-field" aria-label="Search box" (keyup)="filterDatatable($event.target.value)">
                                        </li>
                                        <li class="dropdown m-l-20 ml-5 mr-3">
                                            <select class="form-control select-trie pl-0 pr-0" style="width: 340px;background-color: #ebebee;"  (change)="filtreImmoChange()" [(ngModel)]="statusImmo">
                                                <option value="-1">Immobilisations non scannées</option>
                                                <option value="1">Immobilisations scannées réconciliées</option>
                                                <option value="0">Immobilisations scannées non réconciliées</option>
                                                <option value="2">Immobilisations rajoutées</option>
                                                <option value="3">Immobilisations avec un code barre défectueux</option>
                                            </select>
                                        </li>
                                        <li class="dropdown m-l-20 ml-5" *ngIf="statusImmo!=-1">
                                            <select class="form-control select-trie pl-0 pr-0" style="width: 250px;background-color: #ebebee;" (change)="filtreImmoChange()" [(ngModel)]="typeImmo">
                                                <option value="" *ngIf="typeImmo==''" selected hidden>Etat de l'immobilisation</option>
                                                <option value="" *ngIf="typeImmo!=''">Tous</option>

                                                <option value="1">Bon état</option>
                                                <option value="0">Mauvais état</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab color="primary" (click)="generatePdf()" title="Exporter PDF">
                                                    <mat-icon class="col-white">file_upload</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- non scannées -->
                                <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10" *ngIf="statusImmo==-1">
                                    <!-- user image -->

                                    <ngx-datatable-column name="Code" sortable="false" prop="code" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Libelle" sortable="false" prop="libelle" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Valeur d'origine" sortable="false"
                                        prop="valOrigine" [width]="110">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{value}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Valeur nette comptable" sortable="false"
                                        prop="vnc" [width]="110">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{value}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column   name="Date acquisition" sortable="false"
                                        prop="dateAcquisition" [width]="120">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{value|date:'dd/MM/yyyy'}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column  name="Date de mise en Service" sortable="false" prop="dateMiseServ"
                                        [width]="140">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{value|date:'dd/MM/yyyy'}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Emplacement"  sortable="false" prop="emplacement"
                                        [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>


                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="130">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info"
                                                    data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#showImmo" (click)="showDetails(row)">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <!-- <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" >
                                                    <i class="material-icons">mode_edit</i>
                                                </button> -->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                            let-pageSize="pageSize" let-selectedCount="selectedCount"
                                            let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                            <div class="page-count">
                                                <span *ngIf="selectedMessage">
                                                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                                                </span>
                                                {{totalMessage}} {{rowCount.toLocaleString()}}
                                            </div>
                                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                                                [size]="pageSize" [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="table.onFooterPage($event)" (change)="look($event)">
                                            </datatable-pager>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>
                                <!-- non scannées -->

                                <!-- matcher -->
                                <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10" *ngIf="statusImmo!=-1 && statusImmo<2">
                                    <ngx-datatable-column name="" sortable="false" prop="image" [width]="50">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img width="40" height="40" [src]="value" *ngIf="value" alt="image"/>
                                                <img width="40" height="40" [src]="defaultImg" *ngIf="!value" alt="image"/>
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Code" sortable="false" prop="code" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Libelle" sortable="false" prop="libelle" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Etat du bien"  sortable="false" prop="endEtat" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="getEtat(value)">
                                                {{longText(getEtat(value),20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Emplacement"  sortable="false" prop="localite"
                                        [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="locName(value?.id)">
                                               <a [routerLink]="['/zonage',getHashId(value?.id)]" target="_blank" *ngIf="securityServ.superviseur || securityServ.superviseurGene || value?.createur.id==myId">{{longText(value?.nom,20)}}</a>
                                               <span *ngIf="!securityServ.superviseur && !securityServ.superviseurGene && value?.createur.id!=myId">{{longText(value?.nom,20)}}</span> 
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Lecteur"  sortable="false" prop="lecteur" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value?.nom">
                                                {{longText(value?.nom,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column  name="Date de lecture" sortable="false" prop="dateLecture"
                                        [width]="140">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value|date:'dd/MM/yyyy'">
                                                {{value|date:'dd/MM/yyyy'}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="130">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info"
                                                    data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#showImmo" (click)="showDetails(row)">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <!-- <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" >
                                                    <i class="material-icons">mode_edit</i>
                                                </button> -->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                            let-pageSize="pageSize" let-selectedCount="selectedCount"
                                            let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                            <div class="page-count">
                                                <span *ngIf="selectedMessage">
                                                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                                                </span>
                                                {{totalMessage}} {{rowCount.toLocaleString()}}
                                            </div>
                                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                                                [size]="pageSize" [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="table.onFooterPage($event)" (change)="look($event)">
                                            </datatable-pager>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>
                                <!-- matcher -->

                                <!-- other -->
                                <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10" *ngIf="statusImmo>=2">
                                    <!-- user image -->

                                    <ngx-datatable-column name="" sortable="false" prop="image" [width]="50">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img width="40" height="40" [src]="value" *ngIf="value" alt="image"/>
                                                <img width="40" height="40" [src]="defaultImg" *ngIf="!value" alt="image"/>
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Libelle" sortable="false" prop="libelle" [width]="70">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,10)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Lecteur"  sortable="false" prop="lecteur" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value?.nom">
                                                {{longText(value?.nom,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Emplacement"  sortable="false" prop="localite"
                                        [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0"  [title]="locName(value?.id)">
                                               <a [routerLink]="['/zonage',getHashId(value?.id)]">{{longText(value?.nom,20)}}</a> 
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Etat du bien"  sortable="false" prop="endEtat" [width]="100">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="getEtat(value)">
                                                {{longText(getEtat(value),20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column  name="Date de lecture" sortable="false" prop="dateLecture"
                                        [width]="140">
                                        <ng-template let-row="data" let-value="value" let-i="index"
                                            ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value|date:'dd/MM/yyyy'">
                                                {{value|date:'dd/MM/yyyy'}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="130">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info"
                                                    data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#showImmo" (click)="showDetails(row)">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <!-- <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" >
                                                    <i class="material-icons">mode_edit</i>
                                                </button> -->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                            let-pageSize="pageSize" let-selectedCount="selectedCount"
                                            let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                            <div class="page-count">
                                                <span *ngIf="selectedMessage">
                                                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                                                </span>
                                                {{totalMessage}} {{rowCount.toLocaleString()}}
                                            </div>
                                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                                                [size]="pageSize" [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="table.onFooterPage($event)" (change)="look($event)">
                                            </datatable-pager>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>
                                <!-- other -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Window -->
<div class="modal fade" id="showImmo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog immobilisation-modal" role="document">
        <form class="modal-content" [formGroup]="editForm" #formDirective="ngForm">
            <div class="modal-header">
                <div class="editRowModal ml-2">
                    <div class="modal-header clearfix" *ngIf="selectedRowData?.image||image">
                        <img *ngIf="selectedRowData?.image" width="45" height="45" [src]="selectedRowData?.image" alt="Logo" class="pointer" (click)="showPhoto=true">
                        <img *ngIf="!selectedRowData?.image" width="45" height="45" [src]="defaultImg" alt="avatar" class="pointer" (click)="showPhoto=true">
                        <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17" *ngIf="selectedRowData?.libelle">{{selectedRowData?.libelle}}</div>
                        </div>
                    </div>
                </div>
                <button type="button" #closeEditModal
                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                    aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body scroll-box" [perfectScrollbar]>
                <div class="row" *ngIf="!showPhoto">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.description">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label [ngClass]="{'color-black': statusImmo==1 || statusImmo==-1,'color-new': (statusImmo!=1 && statusImmo!=-1)}"> Description :
                                {{selectedRowData?.description}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.code">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label *ngIf="selectedRowData?.code" [ngClass]="{'color-black': statusImmo==1 || statusImmo==-1,'color-new': (statusImmo!=1 && statusImmo!=-1)}"> Code :
                                {{selectedRowData?.code}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.compteImmo">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Compte
                                d'immobilisation
                                : {{selectedRowData?.compteImmo}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.compteAmort">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Compte d'amortissement
                                : {{selectedRowData?.compteAmort}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6mb-2" *ngIf="selectedRowData?.valOrigine">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Valeur d'origine
                                : {{selectedRowData?.valOrigine}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6mb-2" *ngIf="selectedRowData?.dotation">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Dotation de l'exercice
                                : {{selectedRowData?.dotation}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6mb-2" *ngIf="selectedRowData?.cumulAmortiss">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Amortissements cumulés
                                : {{selectedRowData?.cumulAmortiss}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6mb-2" *ngIf="selectedRowData?.vnc">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Valeur nette comptable
                                : {{selectedRowData?.vnc}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.dateMiseServ">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Date de mise en
                                service
                                : {{selectedRowData?.dateMiseServ|date:'dd/MM/yyyy'}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.dateAcquisition">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Date d'acquisition :
                                {{selectedRowData?.dateAcquisition|date:'dd/MM/yyyy'}}
                            </mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.taux">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Taux
                                d'amortissement : {{selectedRowData?.taux}} %</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.dureeUtilite">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Durée d'utilité
                                : {{selectedRowData?.dureeUtilite}} </mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.status">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Status du bien 
                                : {{getStatus(selectedRowData?.status)}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.etat">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Etat du bien théorique
                                : {{selectedRowData?.etat}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.endEtat">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Etat réel du bien 
                                : {{getEtat(selectedRowData?.endEtat)}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="selectedRowData?.emplacement">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: black;"> Emplacement théorique
                                : {{selectedRowData?.emplacement}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.localite" [title]="locName(selectedRowData?.localite?.id)">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Emplacement réel
                                : {{selectedRowData?.localite.nom}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.lecteur">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Lecteur 
                                : {{selectedRowData?.lecteur?.nom}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.dateLecture">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Date inventoriée 
                                : {{selectedRowData?.dateLecture|date:'dd/MM/yyyy'}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.localite?.createur?.nom && (securityServ.superviseurGene||securityServ.superviseurAdjoint)">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Superviseur adjoint
                                : {{selectedRowData?.localite?.createur?.nom}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 new-immo" *ngIf="selectedRowData?.localite?.id ">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label style="color: #28a745;"> Chef d'équipe
                                : {{getChefEquipOf(selectedRowData?.localite?.id)}}</mat-label>
                            <input matInput formControlName="denomination">
                        </mat-form-field>
                    </div>
                </div>
                <div class="div" *ngIf="showPhoto" style="position: relative;">
                    <button type="button" class="btn p-t-10 modal-close-button" (click)="showPhoto=false" style="position: absolute;right: 0px;">
                        <i class="material-icons">clear</i>
                    </button>
                    <img *ngIf="selectedRowData?.image" [src]="selectedRowData?.image" alt="Logo">
                    <img *ngIf="!selectedRowData?.image" [src]="defaultImg" alt="avatar">
                </div>
                <div class="modal-footer pr-0">
                    <button type="button" class="btn btn-outline-danger btn-border-radius mr-0" data-dismiss="modal" aria-label="Close">Fermer</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Window -->