.example-full-width{width: 95.2% !important;}
.all-width{width: 100% !important;}
.select-trie{background-color: #ebebee !important; width: 153px !important;}
.ngxTableHeader .header-buttons-left input.search-field{width: 200px;}
