<section class="content" *ngIf="show">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader pl-0">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Recherche" type="text" class="browser-default search-field search-team" (keyup)='filterDatatable($event.target.value)' aria-label="Search box" [(ngModel)]="searchValue">
                                        </li>
                                        <li class="dropdown m-l-20" [hidden]="entreprises && entreprises.length==1">
                                            <select [(ngModel)]="idCurrentEse" class="form-control select-trie pl-0 pr-0" (change)="entiteChange($event.target.value)" title="Entité">
                                                <option value="0">Toutes les entités</option>
                                                <option *ngFor="let e of entreprises" [value]="e.id">{{e.denomination}}</option>
                                            </select>
                                        </li>
                                        <li class="dropdown m-l-20" [hidden]="idCurrentEse==0 && entreprises && entreprises.length!=1">
                                            <select [(ngModel)]="idCurrentLoc" class="form-control select-trie pl-0 pr-0" (change)="localiteChange($event.target.value)" title="Localité">
                                                <option value="0">Toutes les localités</option>
                                                <option *ngFor="let l of currentLocs" [value]="l.id">{{l.nom}}</option>
                                                <option value="-1" *ngIf="currentLocs && currentLocs.length==0">Aucune localité trouvée</option>
                                            </select>
                                        </li>
                                        <li class="dropdown m-l-20" [hidden]="currentZs && currentZs.length==0">
                                            <select [(ngModel)]="idCurrentZ" class="form-control select-trie pl-0 pr-0" (change)="zoneChange($event.target.value)" title="Zones/Sites">
                                                <option value="0">Toutes les zones</option>
                                                <option *ngFor="let z of currentZs" [value]="z.id">{{z.nom}}</option>
                                            </select>
                                        </li>
                                        <li class="dropdown m-l-20" [hidden]="currentSZs && currentSZs.length==0">
                                            <select [(ngModel)]="idCurrentSZ" class="form-control select-trie pl-0 pr-0" (change)="sousZoneChange($event.target.value)" title="Sous-zones">
                                                <option value="0">Toutes les sous-zones</option>
                                                <option *ngFor="let sz of currentSZs" [value]="sz.id">{{sz.nom}}</option>
                                            </select>
                                        </li>

                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li *ngIf="entreprises && entreprises.length>0">
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab color="primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" (click)='addRow()'>
                                                    <mat-icon class="col-white">add</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10">
                                    <!-- user image -->
                                    <ngx-datatable-column name="" sortable="false" prop="image" [width]="10">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img width="40" src="{{ imgLink + value }}" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                  
                                    <ngx-datatable-column name="Prénom et nom" sortable="false" prop="nom" [width]="130">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Département" sortable="false" prop="departement" [width]="130">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="value">
                                                {{longText(value,20)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    
                                    <ngx-datatable-column name="Rôle" sortable="false" prop="roles" [width]="80">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0" [title]="getRole(value)">
                                                {{longText(getRole(value),15)}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Entité" sortable="false" prop="entreprises" [width]="130">
                                        <ng-template let-row="data" let-value="value" let-i="index" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <span *ngIf="value && value.length==1" [title]="value[0].denomination">{{longText(value[0].denomination,20)}}</span>
                                                <select *ngIf="value && value.length>1" class="form-control no-border pl-0" style="border: none !important;">
                                                   <option *ngFor="let e of value">{{e.denomination}}</option> 
                                                </select>
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    
                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="80" class="text-center" *ngIf="!securityServ.admin">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#editModal" title="Afficher les detais de l'utilisateur" (click)='showDetails(row)'>
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" title="Modifier l'utilisateur" (click)='updateUser(row)'>
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Actions" sortable="false" [width]="130" class="text-center" *ngIf="securityServ.admin">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn pointer h-auto text-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#editModal" title="Afficher les detais de l'utilisateur" (click)='showDetails(row)'>
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                <button class="btn tblActnBtn pointer h-auto text-secondary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                    data-target="#editModal" title="Modifier l'utilisateur" (click)='updateUser(row)'>
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                                <button class="btn tblActnBtn pointer h-auto text-primary" title="Réinitialiser le mot de passe de l'utilisateur" (click)='backupPwd(row)'>
                                                    <i class="material-icons">refresh</i>
                                                </button>
                                                <button class="btn tblActnBtn pointer h-auto" [ngClass]="{'text-success': row.status=='actif','text-danger': row.status=='bloque'}" title="Bloquer/Débloquer un utilisateur" (click)='lockRow(row)'>
                                                    <i class="material-icons" *ngIf="row.status=='actif'">lock_open</i>
                                                    <i class="material-icons" *ngIf="row.status=='bloque'">lock_outline</i>
                                                </button>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    
                                    <ngx-datatable-footer>
                                        <ng-template 
                                          ngx-datatable-footer-template
                                          let-rowCount="rowCount"
                                          let-pageSize="pageSize"
                                          let-selectedCount="selectedCount"
                                          let-curPage="curPage"
                                          let-offset="offset"
                                          let-isVisible="isVisible">
                                            <div class="page-count">
                                              <span *ngIf="selectedMessage">
                                                {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                                              </span>
                                               {{totalMessage}} {{rowCount.toLocaleString()}}
                                            </div>
                                            <datatable-pager
                                                [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'"
                                                [page]="curPage"
                                                [size]="pageSize"
                                                [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="table.onFooterPage($event)"
                                                (change)="look($event)"
                                            >
                                            </datatable-pager>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>

                                <!-- Modal Window -->
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form class="modal-content"  [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)" #formDirective="ngForm">
                                            <div class="modal-header">
                                                <div class="editRowModal">
                                                    <div class="modal-header clearfix">
                                                        <img *ngIf="selectedRowData?.image" [src]='imgLink+selectedRowData?.image' alt="avatar">
                                                        <img *ngIf="!selectedRowData?.image" [src]='newUserImg' alt="avatar">
                                                        <div class="modal-about">
                                                            <div class="font-weight-bold p-t-10 font-17" *ngIf="!selectedRowData?.nom && !editForm.get('nom').value">Nouvel utilisateur</div>
                                                            <div class="font-weight-bold p-t-10 font-17" *ngIf="!selectedRowData?.nom && editForm.get('nom').value">{{editForm.get('nom').value}}</div>
                                                            <div class="font-weight-bold p-t-10 font-17" *ngIf="selectedRowData?.nom">{{selectedRowData?.nom}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" #closeEditModal
                                                    class="btn p-t-10 modal-close-button" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </div>
                                            <div class="modal-body" [perfectScrollbar]>
                                                <div>
                                                    <div class="input-field col s12 d-none">
                                                        <input formControlName="id" class="form-control" type="hidden">
                                                        <input formControlName="status" class="form-control" type="hidden">
                                                    </div>
                                                    <div class="row pr-3">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                appearance="outline">
                                                                <mat-label>Prénom et nom</mat-label>
                                                                <input matInput formControlName="nom" (change)="nomChange($event.target.value)">
                                                                <mat-icon matSuffix>face</mat-icon>
                                                                <mat-error
                                                                    *ngIf="editForm.get('nom').hasError('required')">
                                                                    Le nom complet est requise
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                appearance="outline">
                                                                <mat-label>Poste</mat-label>
                                                                <input matInput formControlName="poste">
                                                                <mat-icon matSuffix>card_travel</mat-icon>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                appearance="outline">
                                                                <mat-label>Login</mat-label>
                                                                <input matInput formControlName="username">
                                                                <mat-icon matSuffix>assignment_ind</mat-icon>
                                                                <mat-error *ngIf="editForm.get('nom').hasError('required')">
                                                                    Le login est requis
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Département</mat-label>
                                                                <input matInput [value]="firstDep" disabled="true"  *ngIf="details">
                                                                <mat-select  name="depart" [value]="firstDep" (selectionChange)="depChange($event.value)" *ngIf="!details">
                                                                    <mat-option *ngFor="let d of dep" [value]="d">{{d}}</mat-option>
                                                                </mat-select>                                                               
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row" [hidden]="!autreDep">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                appearance="outline">
                                                                <mat-label>Autre département</mat-label>
                                                                 <input matInput formControlName="departement">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                appearance="outline">
                                                                <mat-label>Rôle</mat-label>
                                                                <input matInput formControlName="role" *ngIf="details">
                                                                <mat-select formControlName="role"  *ngIf="!details" (selectionChange)="roleChange($event.value)" (selectionChange)="initByRole()">
                                                                    <mat-option *ngFor="let r of roles" [value]="r" [hidden]="securityServ.superviseur && r=='Superviseur'">{{r}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngIf="isGuest">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <mat-expansion-panel class="example-full-width mb-4 pl-0 pr-0 ">
                                                                <mat-expansion-panel-header style="background-color: #d8d5d538;">
                                                                        <mat-panel-title class="pl-0 col-10">Menu</mat-panel-title>
                                                                        <mat-panel-description>
                                                                        
                                                                        </mat-panel-description>
                                                                </mat-expansion-panel-header>
                                                                
                                                                <!--Liste des menus-->
                                                                <mat-expansion-panel class="example-full-width mb-4 pl-0 pr-0" *ngFor="let menu of sidebarItems;let i=index" [ngClass]="{'mt-4': i==0}" hideToggle>
                                                                    <mat-expansion-panel-header style="background-color: #eab9b9;" class="pr-1" #panelH (click)="panelH._toggle()">
                                                                            <mat-panel-title class="pl-0 col-11 pt-4 mr-0" (click)="panelH._toggle()">{{menu.title}}</mat-panel-title>
                                                                            <mat-panel-description>
                                                                                <section class="example-section row">
                                                                                    <mat-checkbox class="example-margin" (change)="checkMenuChange(menu.id)" [checked]="menuIsPick(menu.id)"> </mat-checkbox>
                                                                                </section>
                                                                            </mat-panel-description>
                                                                    </mat-expansion-panel-header>

                                                                    <!--Liste des sous-menus-->
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-0">
                                                                            <div class="card">
                                                                                <div class="body pl-0 pr-0">
                                                                                    <section class="example-section row all-height" *ngIf="menu.submenu.length>0">
                                                                                        <mat-checkbox class="example-margin" *ngFor="let sub of menu.submenu" (change)="checksubMenuChange(menu.id,sub.id)" [checked]="subMenuIsPick(menu.id,sub.id)">{{sub.title}}</mat-checkbox>
                                                                                    </section>
                                                                                    <span *ngIf="menu.submenu.length==0">Il n'y a pas de sous-menu</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--Liste des sous-menus-->

                                                                </mat-expansion-panel>
                                                                <!--Liste des menus-->

                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2" *ngFor="let control of tabEse.controls; index as i">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 pr-0" [hidden]="entreprises && entreprises.length<2">
                                                            <mat-form-field class="example-full-width mr-2" appearance="outline" style="width: 92% !important;">
                                                                <mat-label>Entité {{i+1}}</mat-label>
                                                                <input matInput [value]="getDenomination(control.value)" *ngIf="details" disabled>
                                                                <mat-select [formControl]="control" *ngIf="!details" (selectionChange)="entiteAddEquipeChange($event.value,i)">
                                                                    <mat-option value="" *ngIf="i>0"></mat-option>
                                                                    <mat-option *ngFor="let e of entreprises" [value]="e.id" [hidden]="inTabEse(e.id)">{{e.denomination}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                             <mat-icon matSuffix [hidden]="i!=(tabEse.controls.length-1) || !control.value||details" (click)="addEntreprise()" class="pointer" title="Ajouter une entité">add_circle_outline</mat-icon>
                                                        </div>
                                                        <!-- Localités -->
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="isMembreEquipe && control.value && getEntreprise(control.value).localites && getEntreprise(control.value).localites.length>0 && !securityServ.admin">
                                                            <mat-accordion>
                                                                <p class="mb-3"> 
                                                                    <span class="bolder">Localités</span> 
                                                                    <span *ngIf="entreprises && entreprises.length>1"> ( {{getDenomination(control.value)}} ) </span>:
                                                                </p>
                                                                <div class="row" style="padding-left: 1.2rem !important;">
                                                                    <mat-expansion-panel  class="example-full-width mb-4 col-11 pl-0 pr-0" *ngFor="let localite of userLocalites[i]" hideToggle>
                                                                        <mat-expansion-panel-header style="background-color: #d8d5d538;"  #panelHL (click)="panelHL._toggle()">
                                                                                <mat-panel-title class="pl-0 col-10 pt-4 pb-4" (click)="panelHL._toggle()">
                                                                                    {{localite.nom}}
                                                                                </mat-panel-title>
                                                                                <mat-panel-description> 
                                                                                    <mat-icon class="icone-loc pt-4 pb-4" (click)="deleteLoc(localite,i)"  *ngIf="!details">delete</mat-icon>
                                                                                </mat-panel-description>
                                                                        </mat-expansion-panel-header>

                                                                        <p class="mt-4 mb-3 bolder">Zones / Sites</p>
                                                                        <div class="row" style="padding-left: 1.2rem !important;">
                                                                            <mat-expansion-panel class="mb-4 col-11 pl-0 pr-0" *ngFor="let zone of rev(localite.zones)" hideToggle [hidden]="!zoneIsPick(zone.id)">
                                                                                <mat-expansion-panel-header style="background-color: #eab9b9;" #panelHZ (click)="panelHZ._toggle()">
                                                                                        <mat-panel-title class="pl-0 col-10 pt-4 pb-4" (click)="panelHZ._toggle()">
                                                                                            {{zone.nom}}
                                                                                        </mat-panel-title>
                                                                                        <mat-panel-description>
                                                                                            <mat-icon class="icone-loc  m-r--5 pt-4 pb-4" (click)="deleteZone(zone)" *ngIf="!details">delete</mat-icon>
                                                                                        </mat-panel-description>
                                                                                </mat-expansion-panel-header>

                                                                                <!--Sous-zones-->
                                                                                <div class="row">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-0">
                                                                                        <div class="card">
                                                                                            <div class="body pl-0 pr-0">
                                                                                                <section class="example-section all-height row" *ngIf="zone.sousZones.length>0">
                                                                                                    <mat-checkbox class="example-margin" *ngFor="let sousZone of trierSZ(zone.sousZones)" (change)="checkASZ(sousZone.id)" [checked]="sousZIsPick(sousZone.id)" [title]="sousZone.nom">{{sousZone.nom}}</mat-checkbox><!-- [checked]="sousZIsPick(sousZone.id)" -->
                                                                                                </section>
                                                                                                <span *ngIf="zone.sousZones.length==0">Il n'y a pas de sous-zone dans cette zone</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--Sous-zones-->

                                                                            </mat-expansion-panel>
                                                                            <p class="mt-3 col-1 pl-2" *ngIf="addZone">
                                                                                <i class="material-icons pointer" title="Ajouter zone/site" data-keyboard="false" *ngIf="rev(localite.zones).length>0 && addZone && !details"  (click)="addZone=false">add_circle</i>
                                                                                <span *ngIf="rev(localite.zones).length==0">Il n'y a pas de zone dans cette localité</span>
                                                                            </p>
                                                                        </div>
                                                                        <!--Select pour ajouter des zones-->
                                                                        <mat-form-field class="example-full-width" appearance="outline"  *ngIf="!addZone">
                                                                                <mat-label>Zones</mat-label>
                                                                                <mat-select (selectionChange)="pickNewZone($event.value)">
                                                                                    <mat-option *ngFor="let z of localite.zones" [value]="z.id" [hidden]="zoneIsPick(z.id)">{{z.nom}}</mat-option>
                                                                                </mat-select>                                                               
                                                                        </mat-form-field>
                                                                        <!--Select pour ajouter des zones-->

                                                                    </mat-expansion-panel>
                                                                    <mat-icon matSuffix class="pointer col-1 pl-2 pt-3" *ngIf="addLoc && userLocalites[i].length>0 && !details" (click)="addLoc=false" title="Ajouter une localité">add_circle_outline</mat-icon>
                                                                </div>

                                                                <!--Select pour ajouter des localités-->
                                                                <mat-form-field class="example-full-width" appearance="outline"  *ngIf="!addLoc||userLocalites[i].length==0">
                                                                        <mat-label>Localités</mat-label>
                                                                        
                                                                        <mat-select (selectionChange)="pickNewLoc($event.value,i,control.value)" #newLoc>
                                                                            <mat-option *ngFor="let l of getEntreprise(control.value).localites" [value]="l.id" [hidden]="locIsPick(l.id,i)">{{l.nom}}</mat-option>
                                                                        </mat-select>                                                               
                                                                </mat-form-field>
                                                                <!--Select pour ajouter des localités-->

                                                            </mat-accordion>
                                                        </div>
                                                        <!-- Localités -->
                                                        
                                                    </div>
                                                        
                                                    <div class="modal-footer" [hidden]="details">
                                                        <div class="button-demo">
                                                            <button type="submit" class="btn btn-outline-success btn-border-radius" [disabled]="editForm.invalid">Enregistrer</button>
                                                            <button type="button" class="btn btn-outline-danger btn-border-radius" data-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Modal Window -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>